GROQ_API_KEY=gsk_DzfCeV406EJ4jvdlvzMzfh5IwmhW04c
TAVILY_API_KEY=tvly-gWfdzO5nd5BSfd2
AVIATIONSTACK_API_KEY=9c3c122715b4d104b645
OPENWEATHER_API_KEY=
GOOGLE_MAPS_API_KEY=
MONGODB_URI=
JWT_SECRET=
CLIENT_ORIGIN=http://localhost:5173
PORT=5000
